.about{
    background-color: #3cc360;
    width: 50%;
    margin:auto;
    color: white;
    padding: 2rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    letter-spacing: 1px;
    border-radius: 10px;
}


h2{
    margin-bottom: 1rem;
}

.about-text{
    margin-bottom: 1rem;
}

.about-list{
    list-style-type: circle;
}

.about-list li{
    margin-bottom: 1.5rem;
}


@media (max-width: 750px) {
    
    .details-title{
        font-size: 32px;
    }

    .about{
        font-size: 1rem;
        line-height: 1.5rem;
        width: 70%;
    }

}